// .cart {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     width: 400px;
//     background-color: white;
//     transform: translateX(120%);
//     z-index: 9999;
//     transition: all 500ms ease;
//     overflow: hidden;

//     @media(max-width: 575px) {
//         width: 320px;
//     }

//     &__container {
//         position: relative;
//         display: block;
//         overflow-y: scroll;
//         padding: 30px;
//         height: 100%;

//         @media(max-width: 575px) {
//             padding: 30px 15px;
//         }

//     }

//     &.opened {
//         transform: translateX(0);
//     }

//     &-shadow {
//         cursor: e-resize;
//         top: -50px;
//         left: -50px;
//         right: -50px;
//         bottom: -50px;
//         background-color: rgba($color: #000000, $alpha: 0.8);
//         position: absolute;
//         display: none;
//         z-index: 999;
//     }

//     &-title {
//         margin: -5px 0 20px 0;
//         padding-bottom: 5px;
//         display: block;
//         border-bottom: 4px solid $color-tertiary;

//         @media(max-width: 575px) {
//             padding-right: 30px;
//         }

//     }

//     .close {
//         position: absolute;
//         top: 10px;
//         right: 22px;
//         font-size: 48px;
//         outline: 0!important;
//     }

//     &__content {
//         padding: 30px 0 90px;

//         &-item {
//             padding: 10px 0;

//             &-img {
//                 height: 120px;
//             }

//             &-text {

//                 small {
//                     font-weight: 500;
//                     font-size: 14px;
//                     margin-top: 10px;
//                 }
                
//                 .remove {
//                     margin-top: 20px;
//                     line-height: 1;
//                     font-size: 12px;
//                     font-weight: 700;
//                     color: red;
//                     text-transform: uppercase;
//                     display: block;

    
//                 }

//             }

//         }

//         hr {
//             border: none;
//             outline: 0;
//             height: 2px;
//             width: 100%;
//             background-color: $color-tertiary;
//         }

//         &-btn {
//             padding: 30px 0;
//             position: fixed;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             z-index: 99;
//             background: rgb(255,255,255);
//             background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
//         }

//     }

// }

form.checkout.woocommerce-checkout {

}

.woocommerce-billing-fields {

    h3 {
        margin-left: -15px;
    }

}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: calc(100% + 60px);
    margin: 0 -30px;

    .form-row {
        flex-basis: 50%!important;
        width: auto!important;
        max-width: 50%!important;
        padding: 15px!important;

        label,
        .woocommerce-input-wrapper {
            width: 100%;
            display: block;
        }

        label {
            margin-bottom: 0;
        }

    }

}

.woocommerce-additional-fields {
    width: calc(100% + 60px);
    margin: 0 -30px;

    h3 {
        padding: 0 15px;
    }

    .form-row {
        width: 100%!important;
        padding: 15px!important;

        label,
        .woocommerce-input-wrapper {
            width: 100%;
            display: block;
        }

        label {
            margin-bottom: 0;
        }

    }

}