form.checkout.woocommerce-checkout {

}

.woocommerce-billing-fields {

    h3 {
        margin-left: -15px;
    }

}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: calc(100% + 60px);
    margin: 0 -30px;

    .form-row {
        flex-basis: 50%!important;
        width: auto!important;
        max-width: 50%!important;
        padding: 15px!important;

        @media(max-width: 575px) {
            flex-basis: 100%!important;
            max-width: 100%!important;
            padding: 0 15px 15px 15px!important;
        }

        label,
        .woocommerce-input-wrapper {
            width: 100%;
            display: block;
        }

        label {
            margin-bottom: 0;
        }

    }

}

.woocommerce-additional-fields {
    width: calc(100% + 60px);
    margin: 0 -30px;

    h3 {
        padding: 0 15px;
    }

    .form-row {
        width: 100%!important;
        padding: 15px!important;

        label,
        .woocommerce-input-wrapper {
            width: 100%;
            display: block;
        }

        label {
            margin-bottom: 0;
        }

    }

}