.contact__section {
    padding: 300px 0 200px;
    margin-top: -200px;
    background-color: #F5F5F5;

    &-text {

        h1 {
            margin-top: 0;
            line-height: 1;
        }

        a {
            
            &:hover {
                color: $color-primary;
            }

            i {
                font-size: 32px;
            }

        }

        .socials {
            display: flex;
            flex-wrap: nowrap;
        }

    }

    &-form {

        input,
        textarea {
            border: 3px solid #b5b5b5;
            font-size: 18px;
            font-weight: 600;
            border-radius: 10px;
            appearance: none;
            padding: 8px 20px;
            margin-bottom: 30px;
            outline: 0!important;

            &[type="submit"] {
                border: none;
                outline: 0;
            }

        }

        ::placeholder {
            opacity: 1!important;
            color: #b5b5b5!important;
        }

    }

}