.footer {
    background-color: white;
    box-shadow: 0 -4px 10px 0 rgba($color: #000000, $alpha: .1);
    margin-top: -70px;
    border-radius: 70px 70px 0 0;
    padding: 30px 0;
    display: block;
    position: relative;

    @media(max-width: 575px) {
        text-align: center!important;

        * {
            text-align: center!important;
        }

    }

    &__top {
        margin-top: 50px;
        color: $color-secondary;

        * {
            color: $color-secondary;
        }

        .logo {
            max-width: 164px;
            display: block;

            @media(max-width: 575px) {
                margin: 0 auto;
            }

        }    

    }

    &__middle {
        margin-top: 30px;
        color: $color-secondary;

        * {
            color: $color-secondary;
        }

        .text-right {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 18px;

                @media(max-width: 1199px) {
                    font-size: 17px;
                }

                @media(max-width: 767px) {
                    font-size: 16px;
                }

                li {
                    padding: 0;
                    margin-bottom: 10px;

                    a {
                        padding: 0;
                    }

                }

            }

        }

    }

    &__bottom {
        margin-top: 60px;
        color: $color-secondary;

        * {
            color: $color-secondary;
        }

        a {
            
            i {
                margin: 0 3px;
                font-size: 18px;
                -webkit-text-fill-color: white;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $color-secondary;
                vertical-align: -2px;
                transition: all 200ms ease-out;
            }
    
            &:hover {
                color: $color-secondary;
                text-decoration: none;
    
                i {
                    transform: scale(1.3);
                    -webkit-text-fill-color: $color-tertiary;
                    -webkit-text-stroke-color: $color-secondary;
                }
    
            }

        }

    }

}