.header {
    position: relative;
    overflow: hidden;
    z-index: 99;

    &__home {
        max-height: 80vh;
        margin: -8px -8px 0 -8px;
        min-height: 640px;
        color: white!important;
        border-radius: 0 0 200px 0;
        border: 8px solid white;
        box-shadow: 0 3px 15px 0 rgba($color: #000000, $alpha: .25);

        @media(max-width: 575px) {
            max-height: 100vh;
            min-height: 300px;
            border-radius: 0 0 100px 0;
        }


        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.7) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.7) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            z-index: 1;
        }

        .container {
            max-height: 80vh;
            min-height: 640px;
            padding-top: 120px;
            position: relative;
            z-index: 9;

            @media(max-width: 575px) {
                max-height: 100vh;
                min-height: 300px;
                padding-top: 80px;
            }

            .row {
                max-height: 80vh;
                min-height: 640px;
                padding: 100px 0;

                @media(max-width: 575px) {
                    max-height: 100vh;
                    min-height: 300px;
                    padding: 50px 0;
                }

            }

        }

        h1 {
            color: white;
            text-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 1);

            @media(max-width: 575px) {
                padding-right: 50px;
            }

        }

    }

    &__diets {
        max-height: 64vh;
        margin: -8px -8px 0 -8px;
        min-height: 550px;
        color: white!important;
        border-radius: 0 0 200px 0;
        border: 8px solid white;
        box-shadow: 0 3px 15px 0 rgba($color: #000000, $alpha: .25);

        @media(max-width: 575px) {
            max-height: 100vh;
            min-height: 200px;
            border-radius: 0 0 100px 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            z-index: 1;
        }

        .container {
            max-height: 64vh;
            min-height: 550px;
            padding-top: 120px;
            position: relative;
            z-index: 9;

            @media(max-width: 575px) {
                max-height: 100vh;
                min-height: 200px;
                padding-top: 90px;
            }

            .row {
                max-height: 64vh;
                min-height: 550px;
                padding: 100px 0;

                @media(max-width: 575px) {
                    max-height: 100vh;
                    min-height: 200px;
                    padding: 50px 0 0;
                }

            }

        }

        h1 {
            color: white;
            text-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .75);

            @media(max-width: 575px) {
                padding-right: 50px;
            }

        }

    }

    &__diet {
        max-height: 50vh;
        margin: -8px -8px 0 -8px;
        min-height: 500px;
        color: white!important;
        border-radius: 0 0 200px 0;
        border: 8px solid white;
        box-shadow: 0 3px 15px 0 rgba($color: #000000, $alpha: .25);

        @media(max-width: 575px) {
            max-height: 100vh;
            min-height: 200px;
            border-radius: 0 0 100px 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            z-index: 1;
        }

        .container {
            max-height: 50vh;
            min-height: 400px;
            padding-top: 120px;
            position: relative;
            z-index: 9;

            @media(max-width: 575px) {
                max-height: 100vh;
                min-height: 200px;
                padding-top: 90px;
            }

            .row {
                max-height: 50vh;
                min-height: 400px;
                padding: 100px 0;

                @media(max-width: 575px) {
                    max-height: 100vh;
                    min-height: 200px;
                    padding: 50px 0 0;
                }

            }

        }

        h1 {
            color: white;
            text-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .75);

            @media(max-width: 575px) {
                padding-right: 50px;
            }

        }

    }

    &__about {
        max-height: 50vh;
        margin: -8px -8px 0 -8px;
        min-height: 500px;
        color: white!important;
        border-radius: 0 0 200px 0;
        border: 8px solid white;
        box-shadow: 0 3px 15px 0 rgba($color: #000000, $alpha: .25);

        @media(max-width: 575px) {
            max-height: 100vh;
            min-height: 200px;
            border-radius: 0 0 100px 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            z-index: 1;
        }

        .container {
            max-height: 50vh;
            min-height: 400px;
            padding-top: 120px;
            position: relative;
            z-index: 9;

            @media(max-width: 575px) {
                max-height: 100vh;
                min-height: 200px;
                padding-top: 90px;
            }

            .row {
                max-height: 50vh;
                min-height: 400px;
                padding: 100px 0;

                @media(max-width: 575px) {
                    max-height: 100vh;
                    min-height: 200px;
                    padding: 50px 0 0;
                }

            }

        }

        h1 {
            color: white;
            text-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .75);

            @media(max-width: 575px) {
                padding-right: 50px;
            }

        }

    }

    &__contact {
        max-height: 64vh;
        margin: -8px -8px 0 -8px;
        min-height: 500px;
        color: white!important;
        border-radius: 0 0 200px 0;
        border: 8px solid white;
        box-shadow: 0 3px 15px 0 rgba($color: #000000, $alpha: .25);
        overflow: hidden;
        padding-bottom: 40%;
        position: relative;
        height: 0;

        @media(max-width: 575px) {
            border-radius: 0 0 100px 0;
        }
        
        iframe{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            z-index: 1;
            pointer-events: none;
        }

    }

}