.main-navigation {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999;

    @media(max-width: 575px) {
        top: 15px;
    }

    .logo {
        display: block;
        
        object,
        svg {
            width: 164px;
            height: 164px;
        }

        @media(max-width: 991px) {
        
            object,
            svg {
                width: 144px;
                height: 144px;
            }

        }

        @media(max-width: 767px) {
        
            object,
            svg {
                width: 128px;
                height: 128px;
            }

        }

        @media(max-width: 575px) {
        
            object,
            svg {
                width: 96px;
                height: 96px;
            }

        }

    }

    .menu-button,
    .menu-close {
        border: 3px solid white;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0!important;
        box-shadow: none!important;

        i {
            font-size: 24px;
            color: white;
        }

    }

    .menu-close {
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        font-size: 50px;

        i {
            font-size: 50px;
            color: $color-primary;
        }

    }

    .menu-close {
        display: none;

        @media(max-width: 575px) {
            display: flex;
        }

    }

    .menu-btn {
        display: none;

        @media(max-width: 575px) {
            display: block;
        }

    }

    .upper-menu {
        padding: 0;
        margin: 0 -15px 0 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        color: white;

        @media(max-width: 575px) {
            display: none;
        }

        li {

            a {
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 600;
                color: white;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                i {
                    font-size: 25px;
                }

                span {
                    padding-left: 10px;
                    display: none;
                }

                &:hover {

                }

            }

        }

    }

    .main-menu {
        padding: 0;
        margin: 0 -30px 0 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        color: white;

        @media(max-width: 991px) {
            margin: 0 -20px 0 0;
        }

        @media(max-width: 767px) {
            margin: 0 -15px 0 0;
        }

        @media(max-width: 575px) {
            color: $color-purple;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
        }

        li {
            padding: 5px 30px;

            @media(max-width: 991px) {
                padding: 5px 20px;
            }

            @media(max-width: 767px) {
                padding: 5px 15px;
            }

            @media(max-width: 575px) {
                padding: 8px 15px;
                width: 100%;
                display: block;
                text-align: center;
            }

            a {
                padding: 0;
                font-size: 36px;
                font-weight: 700;
                color: white;
                position: relative;

                @media(max-width: 991px) {
                    font-size: 29px;
                }
    
                @media(max-width: 767px) {
                    font-size: 24px;
                }

                @media(max-width: 575px) {
                    color: $color-purple;
                    font-size: 32px;
                    width: 100%;
                    display: block;
                }

                &:after {
                    content: '';
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 5px;
                    background-color: white;
                    position: absolute;
                    transition: all 200ms ease-out;

                    @media(max-width: 575px) {
                        display: none!important;
                    }

                }

                &:hover {

                    &:after {
                        width: 100%;
                    }

                }

            }

            &.active {

                a {

                    &:after {
                        width: 100%;
                    }

                }

            }

        }

    }

    &__menu-container {

        @media(max-width: 575px) {
            background-color: white;
            position: fixed;
            display: none;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999999999999;
            min-width: 100vw;
            min-height: 100vh;
            color: $color-primary!important;
            padding: 15px;
        }

    }

    &+article {
        padding-top: 240px;
        padding-bottom: 200px;
    }

}

.woocommerce-notices-wrapper {
    overflow: hidden;
    position: fixed;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    justify-content: center;
    align-items: flex-start;
    padding: 120px 15px;
    display: none;

    &.vis {
        display: flex;
    }

    > div {
        overflow: visible;
        border-radius: 10px;
        padding: 2em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 20px;

        &:before {
            display: none;
        }

        .button {
            margin-left: 30px;
            order: 100;
        }

        span.close {
            position: absolute;
            margin: 0;
            top: -10px;
            right: -10px;
            height: 30px;
            width: 30px;
            color: $color-primary;
            border-radius: 30px;
            display: block;
            overflow: hidden;
            opacity: 1;
            font-size: 30px;
            background-color: white;

            i {
                font-size: 30px;
                overflow: hidden;
                height: 30px;
                width: 30px;
                color: $color-primary;
                border-radius: 30px;
                background-color: white;
            }

        }

    }

}

body.woocommerce-cart,
body.woocommerce-checkout,
body.page-template-default {

    .main-navigation {

        * {
            color: $color-secondary!important;
        }

        .main-menu {
    
            li {
    
                a {
    
                    &:after {
                        background-color: $color-secondary;
                    }
                
                }
            
            }
        
        }

    }

}