body {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	color: $color-primary;
	background-color: white;
	min-height: 100vh;
}

html,
body {
	max-width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img,
object,
svg,
picture,
embed,
iframe {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

object,
svg {
	pointer-events: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	border: none;
}

ul {
	margin: 0;

	li {
		line-height: 1.44;
		padding: 3px 0;
	}

}

input,
select,
textarea,
button,
label {
	font-family: $font-primary;
}

section {
	width: 100%;
	position: relative;
	display: block;
}

#wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100vh;
}

.bg-cover {
	display: block;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	object-fit: cover;
	object-position: center;
	overflow: hidden;

	&-abs {
		display: block;
		min-width: 100%;
		max-width: 500vw;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

}

.whole-element-link {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.absolute-center {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.screen-reader-text {
	display: none;
	visibility: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 160px;
	border-radius: 3px;
	padding-left: 10px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding-left: 10px;
}

dd p,
dt p {
	margin: 0
}

td.product-thumbnail {
	min-width: 64px;
	max-width: 120px;
	width: auto;
	padding: 5px;
}

td.product-name {
	min-width: 25%;
}

.woocommerce-cart table.cart img {
	min-width: 64px;
	max-width: 100px;
	width: auto;
}

.woocommerce table.shop_table {
	border-radius: 12px;

	thead {
		
		th {
			padding-top: 12px;
			padding-bottom: 12px;
		}

	}

}

.woocommerce-page table.cart td.actions {
	padding: 12px 15px;
}

.woocommerce form .form-row label[for="billing_address_2"] span {
	display: none!important;
}

.woocommerce-checkout #payment {
	border-radius: 20px;
}

.woocommerce ul.order_details {
	padding: 0;

	li {
		margin-bottom: 20px;
	}

}

// dd {

// 	&.variation-Dnidostawy {
// 		white-space: pre-line;
// 		word-break: break-word;
		
// 		* {
// 			white-space: pre-line;
// 			word-break: break-word;
// 		}

// 	}

// }

.woocommerce td.product-name dl.variation p {
	white-space: pre-line;
	word-break: break-word;
}

dl.variation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px!important;

	dt {
		flex-basis: 100%;
	}

	dd {
		margin-bottom: 10px!important;
	}

}