h1,
.text-size-xxxxlarge {
	font-size: 52px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0;

	@media(max-width: 1199px) {
		font-size: 48px;
	}

	@media(max-width: 767px) {
		font-size: 46px;
	}

	@media(max-width: 480px) {
		font-size: 38px;
	}

}

h2,
.text-size-xxxlarge {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.21;
	margin: 0;

	@media(max-width: 1199px) {
		font-size: 32px;
	}

	@media(max-width: 767px) {
		font-size: 28px;
	}

}

h3,
.text-size-xxlarge {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.21;
	margin: 0;

	@media(max-width: 1199px) {
		font-size: 26px;
	}

	@media(max-width: 767px) {
		font-size: 24px
	}

}

h4,
.text-size-xlarge,
.text-size-xlarge * {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;

	@media(max-width: 1199px) {
		font-size: 22px;
	}

	@media(max-width: 767px) {
		font-size: 20px
	}

}

h5,
.text-size-large,
.text-size-large * {
	font-size: 19px;
	font-weight: 500;
	line-height: 1.3;

	@media(max-width: 1199px) {
		font-size: 18px;
	}

	@media(max-width: 767px) {
		font-size: 17px;
	}

}

p,
.text-size-normal, 
.text-size-normal * {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.44;
	margin: 1em auto;
}

.text-size-small,
.text-size-small * {
	font-size: 14px;
	line-height: 1.44;
}

.text-upper {
	text-transform: uppercase;
}

.text-bold {
	font-weight: 700!important;
}

.text-tertiary {
	color: $color-tertiary;
}

.text-yellow3 {
	color: $color-yellow3;
}

.text-grey3 {
	color: $color-grey3;
}