
$color-primary: #24292e;
$color-secondary: #501B73;
$color-tertiary: #A8CE38;
$color-orange: #FF8A00;
$color-orangedark: #E88716;
$color-yellow0: #ffc465;
$color-yellow1: #F5A623;
$color-yellow2: #C18016;
$color-yellow3: #8b5702;
$color-blue: #00A3FF;
$color-bluedark: #0084FF;
$color-green: #A8CE38;
$color-greendark: #8DBB05;
$color-green1: #308e96;
$color-green2: #2f8e95;
$color-green3: #1d7680;
$color-green4: #0a5862;
$color-purple: #501B73;
$color-purplelight: #7A469C;
$color-grey1: #f7f7f7;
$color-grey2: #ebebeb;
$color-grey3: #9b9b9b;
$color-grey4: #4A4A4A;

$font-primary: 'Poppins', sans-serif;

@mixin shadow() {
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

@mixin shadowMore() {
    box-shadow: 0 5px 20px 0 rgba($color: #000000, $alpha: 0.4);
}

.text-shadow {
    text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: .25);
}

.box-shadow {
    @include shadow();
}

.grey-bg {
    background-color: #f7f7f7;
}

.nomargin {
    margin: 0!important;
}